<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>psaccountstoggle</name>
    <displayName><![CDATA[PS Accounts Toggle]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Enable/Disable PS_ACCOUNTS_LOGIN_ENABLED]]></description>
    <author><![CDATA[Tecnoacquisti.com]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>